<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm navbar-light bg-light position-sticky">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h1>Employees</h1>
        </a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-grow-1 mb-2 justify-content-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">List</a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link " href="#"  routerLink="add-employee"  routerLinkActive="active">AddEmployee</a>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
      </nav>
    </div>
  </div>
  <div class="row offset-md-2">
    <div class="col-12 col-md-8 mt-5">
      <!-- <router-let></router-let> -->
      <router-outlet></router-outlet>
      <!-- <app-employee-list></app-employee-list> -->
    </div>
  </div>
</div>