<h1>hi karam</h1>
<button (keyup)="getData('123')">click me</button>
<input type="text" #box (blur)="getData(box.value)" placeholder="focus">
<P>{{Displayval}}</P>
<button (click)="counter('minus')">--</button>
<p>{{Counter}}</p>
<button (click)="counter('add')">++</button>
<button (click)="counter2()">reset</button>
<!-- <h1 *ngIf="show else box2">code step by step </h1> -->
<h1 *ngIf="show; then box2 else box3"></h1>
<ng-template #box2>
    <h1 *ngSwitchCase="'red'">red color</h1>
    <h1 *ngSwitchCase="'blue'">blue color</h1>
    <h1 *ngSwitchCase="'green'">green color</h1>
    <h1 *ngSwitchCase="'yellow'">yellow color</h1>
    <h1 *ngSwitchCase="'orange'">orange color</h1>
    <h1 *ngSwitchDefault>unknown color</h1>

<h2 *ngFor="let items of users">name is :{{items}}</h2>
<ul *ngFor="let karam of user"><li>name is :{{karam.Name}}</li>---<li>-{{karam.email}}</li>
    <ul  *ngFor="let aconts of karam.acounts"><li>{{aconts}}</li></ul></ul>
    <h3 [style.color]="color">Hi friends</h3>
<!-- here color is a veriable -->
    <p >condition true </p>
</ng-template>
<ng-template #box3>
    <p >condition is false </p>
</ng-template>
<div [ngSwitch]="color">
       <div class="collapse navbar-collapse" id="navbarSupportedContent1"> -->

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
          <!-- Links class="text-white" -->

        